


.content {
    display: flex;
    flex-direction: column;
}

.blog {
    text-align: center;
    color: #b6b6bc;
    font-size: 30px;
    font-family: Chandas, serif;
    margin: 10px 0px 0px 0px;
}